/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  src: local("Poppins"), url("../fonts/Nunito-Black.woff2") format("woff2"), url("../fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
}

h2 {
  font-size: 36px;
  line-height: 42px;
  color: #727272;
  text-transform: uppercase;
}

.container {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 80px;
}

.header {
  position: relative;
  z-index: 15;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__title {
  font-family: "Nunito", Arial, sans-serif;
  font-size: 46px;
  text-transform: uppercase;
  line-height: 53px;
  color: #727272;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone a {
  font-family: "Nunito", Arial, sans-serif;
  margin-left: 15px;
  font-weight: 900;
  color: #313131;
  font-size: 24px;
  text-decoration: none;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header__phone a:hover {
  color: #E58A19;
}
.header__phone a:active {
  color: #E58A19;
}
.header__phone a:focus {
  color: #E58A19;
}
.header__phone img {
  padding-top: 4px;
}
.header__order {
  font-family: "Nunito", Arial, sans-serif;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #E58A19;
  letter-spacing: 0.5px;
  background-color: #ba3236;
  padding: 15px 20px;
  border-radius: 30px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header__order:hover {
  background-color: #A42A2E;
}
.header__order:focus {
  background-color: #A42A2E;
}
.header__order:active {
  background-color: #A42A2E;
}
.header__burger {
  display: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 35px;
  height: 23px;
  background-color: transparent;
  background-image: url("../images/burger.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(195, 38, 46, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 46px;
  padding-bottom: 46px;
}
.nav__link {
  display: block;
  padding: 0 40px;
  font-size: 32px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.nav__link:hover {
  color: #fdd528;
}
.nav__link:active {
  color: #8583d6;
}
.nav__link:focus {
  color: #fdd528;
}
.nav li:not(:first-child) {
  border-left: 4px solid #FFFFFF;
}

.mobnav {
  position: absolute;
  z-index: 300;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(195, 38, 46, 0.8);
  text-align: center;
  -webkit-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.mobnav__wrap {
  margin-top: 120px;
}
.mobnav__item {
  text-align: center;
  margin: 18px 0;
}
.mobnav__link {
  font-size: 18px;
  text-decoration: none;
  color: #FFFFFF;
}
.mobnav__order {
  font-family: "Nunito", Arial, sans-serif;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #E58A19;
  letter-spacing: 0.5px;
  background-color: #141414;
  padding: 10px 15px;
  border-radius: 30px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.mobnav__close {
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.news {
  margin-top: 75px;
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 110px;
}
.news__image {
  margin-right: 30px;
}
.news__text p {
  padding: 25px 0;
  font-size: 24px;
  color: #727272;
}
.news__title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 600;
  color: #727272;
  text-transform: uppercase;
}
.news__more {
  text-decoration: none;
  font-size: 24px;
  color: #727272;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.news__more:hover {
  color: #A42A2E;
}
.news__more:focus {
  color: #A42A2E;
}
.news__more:active {
  color: #A42A2E;
}
.top-slider {
  position: relative;
  margin-top: -50px;
}
.top-slider__item {
  position: relative;
}
.top-slider__item a {
  display: block;
  text-decoration: none;
  max-width: 100%;
  height: 867px;
}
.top-slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-slider__text {
  position: absolute;
  bottom: 63px;
  max-width: 850px;
  font-size: 48px;
  line-height: 55px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}
.top-slider__text .big {
  font-size: 60px;
}
.top-slider__text .date {
  font-weight: 400;
}

.top-banner {
  position: relative;
  min-height: 117px;
  margin-top: -50px;
}
.top-banner__item {
  position: relative;
}
.top-banner__item a {
  display: block;
  text-decoration: none;
  max-width: 100%;
  height: 867px;
}
.top-banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-banner__text {
  position: absolute;
  bottom: 82px;
  max-width: 850px;
  font-size: 123px;
  line-height: 140px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.content {
  margin-top: 60px;
}
.content__image {
  text-align: center;
  width: 100%;
  max-width: 1076px;
  height: auto;
}
.content p {
  font-size: 24px;
  line-height: 24px;
  color: #727272;
  margin: 30px 0;
}
.content__order {
  display: block;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 30px;
  width: 100%;
  max-width: 960px;
  font-size: 36px;
  line-height: 24px;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 35px 0;
  background-color: #ba3236;
  margin: 143px auto 270px auto;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.content__order:hover {
  background-color: #A42A2E;
}
.content__order:focus {
  background-color: #A42A2E;
}
.content__order:active {
  background-color: #A42A2E;
}
.gallery {
  margin-top: 70px;
}
.gallery__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.gallery__item {
  margin: 10px;
  position: relative;
  width: 100%;
  max-width: 45.3488372093%;
  height: 480px;
}
.gallery__img {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 35px;
  line-height: 50px;
  padding: 0 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.3);
}

.media {
  margin-top: 70px;
}
.media__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.media__item {
  margin: 10px;
  position: relative;
  display: block;
  width: 100%;
  max-width: 31.3953488372%;
  height: 336px;
}
.media__img {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.anounce {
  margin-top: 67px;
}
.anounce__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.anounce__item {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 540px;
  position: relative;
}
.anounce__item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.anounce__text {
  position: absolute;
  max-width: 320px;
  bottom: 27px;
  left: 35px;
}
.anounce__title {
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  color: #FFFFFF;
}
.anounce__desc {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #FFFFFF;
}

.info {
  margin-top: 95px;
}
.info__title {
  font-size: 60px;
  line-height: 55px;
  font-weight: 900;
  color: #727272;
  text-transform: uppercase;
}
.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
@media (max-width: 1170px) {
  .info__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.info__image {
  margin-right: 45px;
  max-width: 689px;
}
.info__text {
  font-family: Arial;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
}
.info__text p {
  margin-bottom: 30px;
}
@media (max-width: 1170px) {
  .info__text {
    margin-top: 20px;
  }
}

.footer {
  margin-top: 80px;
  padding-bottom: 80px;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__content {
  text-align: center;
  color: #727272;
  font-size: 18px;
  padding: 0 54px;
}
.footer__content p, .footer__content a {
  margin-bottom: 20px;
}
.footer__tel {
  color: #E58A19;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.footer__tel:hover {
  color: #ba3236;
}
.footer__tel:focus {
  color: #ba3236;
}
.footer__tel:active {
  color: #ba3236;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.footer__social a {
  display: block;
  margin: 0 20px;
}

/* Swiper */
.swiper-pagination {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  right: 53px;
  left: auto !important;
  bottom: 39px !important;
  z-index: 20;
}

.swiper-pagination-bullet {
  margin-left: 21px !important;
  width: 14px !important;
  height: 14px !important;
  background-color: #FFFFFF !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(195, 38, 46) !important;
}

.swiper-button-prev {
  left: 40px !important;
  width: 26px;
  height: 53px;
  background-image: url("../images/left.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-prev:after {
  font-size: 0 !important;
}

.swiper-button-next {
  right: 40px !important;
  width: 26px;
  height: 53px;
  background-image: url("../images/right.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-next:after {
  font-size: 0 !important;
}